<configuration debug="true" >

    <property name="HOME_LOG" value="logs/app.log"/>
    <property name="warnWrite" value="false"/>	
    
    # Console appender
  	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
        		%d{dd-MM-yyyy HH:mm:ss} %logger{36} %msg%n
      		</pattern>
      		<charset>utf8</charset>
    	</encoder>
  	</appender>

	
    <appender name="FILE-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <file>logs/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/info-app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        
        <encoder>
      		<pattern>
        		%d{dd-MM-yyyy HH:mm:ss} %logger{36} %msg%n
      		</pattern>
      		<charset>utf8</charset>
    	</encoder>
    </appender>
    
    
    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">   
        <file>logs/error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/error-app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
        	<level>ERROR</level>
        	<onMatch>ACCEPT</onMatch>
        	<onMismatch>DENY</onMismatch>
    	</filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      		<pattern>
        		%d{dd-MM-yyyy HH:mm:ss} %logger{36} %msg%n
      		</pattern>
      		<charset>utf8</charset>
    	</encoder>
    </appender>
    
   
   
    <appender name="FILE-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/warn.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/warn-app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
        	<level>WARN</level>
        	<onMatch>ACCEPT</onMatch>
        	<onMismatch>DENY</onMismatch>
    	</filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      		<pattern>
        		%d{dd-MM-yyyy HH:mm:ss} %logger{36} %msg%n
      		</pattern>
      		<charset>utf8</charset>
    	</encoder>
    </appender>
    
    <appender name="FILE-TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/trace.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/trace-app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
        	<level>TRACE</level>
        	<onMatch>ACCEPT</onMatch>
        	<onMismatch>DENY</onMismatch>
    	</filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      		<pattern>
        		%d{dd-MM-yyyy HH:mm:ss} %logger{36} %msg%n
      		</pattern>
      		<charset>utf8</charset>
    	</encoder>
    </appender>
    
    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/debug.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/debug-app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
        	<level>DEBUG</level>
        	<onMatch>ACCEPT</onMatch>
        	<onMismatch>DENY</onMismatch>
    	</filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      		<pattern>
        		%d{dd-MM-yyyy HH:mm:ss} %logger{36} %msg%n
      		</pattern>
      		<charset>utf8</charset>
    	</encoder>
    </appender>
    
    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>localhost</graylogHost>
        <graylogPort>12203</graylogPort>
    </appender>
    
    
    <root  level="DEBUG">
         <appender-ref ref="STDOUT"/>
         <appender-ref ref="GELF" />
    </root>

    <logger name="com.example.bankService.controller" level="trace" additivity="false">
        <appender-ref ref="FILE-INFO"/>
        <appender-ref ref="FILE-ERROR" />
        <appender-ref ref="FILE-WARN" />
        <appender-ref ref="FILE-TRACE" />
        <appender-ref ref="GELF" />
    </logger>
    <logger name="com.example.bankService.service" level="trace" additivity="false">
        <appender-ref ref="FILE-INFO"/>
        <appender-ref ref="FILE-ERROR" />
        <appender-ref ref="FILE-WARN" />
        <appender-ref ref="FILE-TRACE" />
        <appender-ref ref="GELF" />
    </logger>
    
 

</configuration>