<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-light">
        <div class="container p-2">
            <div class="row ml-1 mr-1">
                <div class="col-md-4 py-5 bg-info text-white">
                    <h2>Create  your account</h2>
                </div>
                <div class="col-md-8 py-5 border">
                    <h2>Register</h2>
                    <form  #f="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
                        <div class="form-group">
                            <label for="input_fname">Name of method of payment</label>
                            <input type="text" class="form-control" name="input_fname" placeholder="Name of method" [(ngModel)]="method.name">
                        </div>
                        <div class="form-group">
                            <label for="input_lname">Path of method [/...]</label>
                            <input type="text" class="form-control" name="input_lname"  placeholder="Path of method" [(ngModel)]="method.path">
                        </div>
                        
                        <div class="form-group">
                            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                <a id="move" class="btn btn-primary" (click) ="addField()">Add field</a>
                            </div>
                        </div>
                        <div class="form-group"   *ngFor ='let m of methodsFields; let i = index'>
                            
                            <div class="form-group"  >
                                <label for="input_lname">Enter code:</label>
                                <input type="text" name="code{{i}}" class="form-control" placeholder="Enter code" [(ngModel)]="m.code">
                                <label for="input_lname">Enter name:</label>
                                <input type="text" name="name{{i}}" class="form-control" placeholder="Enter name" [(ngModel)]="m.name">
                                <label for="input_lname">Enter type:</label>
                                <select  class="form-control"  name="type{{i}}"  [(ngModel)]="m.type">
                                    <option *ngFor="let t of types" [value]="t">
                                        {{t}}
                                      </option>
                                  </select>
                            </div>
                        </div>
                        
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        
</body>
</html><!--number, date, text, checkbox-->